body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: linear-gradient(180deg, #212F45 0%, #000 100%);
  color: #fcfcfc;
  
}

header {
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: space-between;
  background-color: transparent;
  padding: 17.247px 114.022px 10.066px 92.985px;
  position: fixed;
  top: 0;
  color: #FFF;
	font-family: Poppins , sans-serif;
	font-size: 13.498px;
	font-style: normal;
	font-weight: 400;
	line-height: 14.998px; 
  z-index: 1000;
}

nav {
width: 100%;
  display: flex;
  justify-content: right;
  padding: 5px;
  gap: 20px;
}

.nav-links {
  display: flex;
  gap: 20px;
  display: inline-flex;
	padding: 2.247px 114.022px 10.066px 92.985px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff; 
  font-family: 'Poppins', sans-serif;
  font-size: 13.5px;
  padding: 10px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00FAFF;
}

.nav-links .cv-button {
  background-color: #006466;
  color: #D3DECE;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex-shrink: 0;
  text-decoration: none;
  font-family: 'Poppins' sans-serif;
  transition: background-color 0.3s;
}

.nav-links .cv-button:hover {
  background-color: #D3DECE;
  color: #006466;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 50px;
}

.intro {
    max-width: 50%;
}

.container .intro h1 {
    font-size: 24px;
    font-weight: normal;
	font-style: bold;
	color: #fdfdfd;
    margin-bottom: 10px;
}

.intro h2 {
    font-size: 48px;
    font-weight: bold;
    color: #006466;
    margin-bottom: 5px;
}

.intro h3 {
    font-size: 58px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.intro h4 {
    font-size: 58px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.description {
    max-width: 400px;
    /* margin: 100; */
    font-size: 16px;
    line-height: 1.5;
    color: #b7becb;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    gap: 30px;
	padding: 0px 50px 30px 50px;
}

.buttons a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #44d3aa;
    text-decoration: none;
    color: #44d3aa;
    font-weight: bold;
	border-radius: 7.926px;
	border: 2px solid #006466;
}

.buttons a:hover {
    background-color: #44d3aa;
    color: #0d1b2a;
}

.image-container {
    max-width: 50%;
    position: relative;
}

.image-container img {
    max-width: 100%;
	padding: 20px 20px 10px 10px;
	box-sizing: border-box
}

.dashed-line {
    position: absolute;
    bottom: -40px;
    left: -60px;
    height: 400px;
    width: 400px;
    border: 3px dashed #44d3aa;
    border-radius: 50%;
    z-index: -1;
    transform: rotate(-45deg);
}
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: #b7becb;
}

.social-icons {
  margin-top: 10px;
}

.social-icons img {
  width: 20px;
  margin: 0 10px;
}
